LLMOD_API_KEY=
LLMOD_API_BASE=https://api.llmod.ai/v1
PINECONE_API_KEY=
RAG_EXPERIMENT_CONFIG=configs/production.yaml
PINECONE_INDEX_NAME=medium-articles-full
PINECONE_NAMESPACE=medium-english-50mb-chunk512-overlap077-v1
RAG_LOG_DIR=/tmp/rag_logs
